service: trace

provider:
  name: aws
  runtime: python3.7
  stage: dev
  region: us-east-1
  memorySize: 128
  timeout: 5
  apiName: NU-TRACE
  role: arn:aws:iam::317318443930:role/trace-dev-us-east-1-lambdaRole
  endpointType: REGIONAL
  path: /app/v1
  vpc:
    securityGroupIds:
      - sg-0c5846cb50539bb03
    subnetIds:
      - subnet-28eb7306
      - subnet-07072a4d
  environment:
    APP_ENVIRONMENT: prod
    SECRET_KEY: my_secret_key
    DB_NAME: ${self:custom.name}
    DB_HOST: ${self:custom.host}
    SQLALCHEMY_DATABASE_URI: ${self:custom.uri}
    ELASTICSEARCH_URL: https://vpc-nu-trace-b7xszvmk2oxocak5pwp6n4d4yy.us-east-1.es.amazonaws.com/
    SHOW_QUERIES_DEBUG: false
    DEBUG: false
    LOG_LEVEL: 20


package:
  exclude:
    - ./**
  include:
    - api/**

custom:
  basePath: api/v1
  name: trace
  host: nu-trace.clxfur70m41w.us-east-1.rds.amazonaws.com
  uri: mysql+pymysql://${opt:user}:${opt:pass}@${self:custom.host}:3306/${self:custom.name}


plugins:
  - serverless-python-requirements
  - serverless-offline

functions:
  term:
    handler: api.term.controller.get_terms
    events:
      - http:
          path: ${self:custom.basePath}/term
          method: get
          request:
            parameters:
              querystrings:
                page: false
                pageSize: false
                orderBy: false

  getterm:
    handler: api.term.controller.get_term
    events:
      - http:
          path: ${self:custom.basePath}/term/{id}
          method: get
          request:
            parameters:
              paths:
                id: true

  instructor:
    handler: api.instructor.controller.get_instructors
    events:
      - http:
          path: ${self:custom.basePath}/instructor
          method: get
          parameters:
            paths:
              querystrings:
                page: false
                page_size: false
                orderBy: false
                term_id: false
                department_id: false
                query: false
                highlights: false

  getinstructor:
    handler: api.instructor.controller.get_instructor
    events:
      - http:
          path: ${self:custom.basePath}/instructor/{id}
          method: get
          request:
            parameters:
              paths:
                id: true

  course:
    handler: api.course.controller.get_courses
    events:
      - http:
          path: ${self:custom.basePath}/course
          method: get
          request:
            parameters:
              querystrings:
                query: false
                page: false
                pageSize: false
                orderBy: false
                highlights: false

  getcourse:
    handler: api.course.controller.get_course
    events:
      - http:
          path: ${self:custom.basePath}/course/{id}
          method: get
          request:
            parameters:
              paths:
                id: true

  getscores:
    handler: api.course.controller.get_scores
    events:
      - http:
          path: ${self:custom.basePath}/course/{id}/scores
          method: get
          request:
            parameters:
              paths:
                id: true

  question:
    handler: api.survey.controller.get_questions
    events:
      - http:
          path: ${self:custom.basePath}/question
          method: get
          request:
            parameters:
              querystrings:
                page: false
                pageSize: false
                orderBy: false

  category:
    handler: api.survey.controller.get_categories
    events:
      - http:
          path: ${self:custom.basePath}/category
          method: get
          request:
            parameters:
              querystrings:
                page: false
                pageSize: false
                orderBy: false

  department:
    handler: api.department.controller.get_departments
    events:
      - http:
          path: ${self:custom.basePath}/department
          method: get
          request:
            parameters:
              querystrings:
                page: false
                pageSize: false
                orderBy: false
                term_id: false
                query: false
                highlights: false

  getdepartment:
    handler: api.department.controller.get_department
    events:
      - http:
          path: ${self:custom.basePath}/department/{id}
          method: get
          request:
            parameters:
              paths:
                id: true
