@{
    ViewBag.Title = "NU TRACE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>
@using (Ajax.BeginForm("GetReports", "Reports", new AjaxOptions() { UpdateTargetId = "Results", HttpMethod = "Get", OnSuccess = "onResults", OnBegin = "onSend"}))
{
    <div class="input-group">
        @Html.TextBox("search", "", htmlAttributes: new { @class = "form-control", @style = "height:50px;", @placeholder = "Professor, Course Name, Term" })
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit" value="Search">Go!</button>
        </span>
    </div>
}
@*<svg src="@Url.Content("../../Content/Images/AjaxLoaderImg.svg")" alt="Loading..." class="ajax-loader" style="display:none" />*@
<div id="Results"></div>


@section scripts {
    <script>
        function onResults(response) {
            //$('.ajax-loader').hide();
            $('#search').removeClass("ajax-loader");
        }

        function onSend(thing) {
            //$('.ajax-loader').show();
            $('#search').addClass("ajax-loader");
        }
    </script>
}