<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://uniquerdm-001-site2.itempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://uniquerdm-001-site2.itempurl.com:8172/msdeploy.axd?site=uniquerdm-001-site2</MSDeployServiceURL>
    <DeployIisAppPath>uniquerdm-001-site2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\uniquerdm-001</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DB_A3CB61_TRACE_Entities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sql5007.site4now.net;Initial Catalog=DB_A3CB61_TRACE;Persist Security Info=True;User ID=DB_A3CB61_TRACE_admin;Password=jacobbillings2018;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DB_A3CB61_TRACE_Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Reports.csdl|res://*/Models.Reports.ssdl|res://*/Models.Reports.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5007.site4now.net;initial catalog=DB_A3CB61_TRACE;persist security info=True;user id=DB_A3CB61_TRACE_admin;password=jacobbillings2018;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MongoDB" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="mongodb://readonly:readonly@trace-shard-00-00-uabdw.mongodb.net:27017,trace-shard-00-01-uabdw.mongodb.net:27017,trace-shard-00-02-uabdw.mongodb.net:27017/test?ssl=true&amp;replicaSet=TRACE-shard-0&amp;authSource=admin&amp;retryWrites=true" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MongoDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="mongodb://readonly:readonly@trace-shard-00-00-uabdw.mongodb.net:27017,trace-shard-00-01-uabdw.mongodb.net:27017,trace-shard-00-02-uabdw.mongodb.net:27017/test?ssl=true&amp;replicaSet=TRACE-shard-0&amp;authSource=admin&amp;retryWrites=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MongoDB-Web.config Connection String" />
    <MSDeployParameterValue Include="DB_A3CB61_TRACE_Entities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>